# Maven build output
target/
!target/*.jar
!target/*.war

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Spring Boot specific
spring-boot-devtools/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Maven Wrapper
.mvn/wrapper/mvn-wrapper.properties

# Environment variable files
.env

# Local configuration files
*.local
